<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><span class="glyphicon glyphicon-user btn btn-lg"></span></li>
    <li><span class="glyphicon glyphicon-plane btn btn-lg"></span></li>
    <li><span class="glyphicon glyphicon-info-sign btn btn-lg"></span></li>
    <li><span class="glyphicon glyphicon-cog btn btn-lg"></span></li>
  </ul>
  <ul class="nav nav-pills pull-left">
    <li><span class="glyphicon glyphicon-align-justify btn btn-lg"></span></li>
    <li><span class="glyphicon btn btn-lg">Z3</span></li>
  </ul>
  <h3 class="text-muted">&nbsp;</h3>
</div>
